# By default, ignore all files
*
# Eventually I will change this, but for now, I'll write in what I want to be shared.

# Share this file
!.gitignore

# Share Markdown files & images
!*.md
!docs/images/*.png
!docs/images/*.jpg

# Folders
!sensors/

# Explicitly allow YAML files

!*.yaml

# Any scripts that I may write
!*.sh

# Travis Configuration
!.travis
!.travis/travis.*
!.travis.yml

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

